:root {
    --primary-color: #1d5888;
    --secondary-color: #ff993b;
    --dark-color: #292929;
    --white-color: #dff3e4;
    --blue-color: rgb(53, 99, 160);
}


body {
    color: var(--dark-color);
}

nav {
    background-color: var(--primary-color);
}

footer {
    background-color: var(--primary-color);
    padding-right: 1rem;
    padding-left: 1rem;
    bottom:0;
    left:0;
    width:100%;
    position: absolute;

}

footer .social > a {
    color: var(--white-color);
    opacity: .75;
}

footer .social > a:hover {
    opacity: 0.90;
    color: #ffd51e;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
}


main > .container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}

.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;

}

.bsicon {
    color: purple;
}

.jsicon {
    color: rgb(255, 238, 0);
}

.html5icon {
    color: orangered;
}

.cssicon {
    color: blue;
}

.checklist > li i {
    color: var(--secondary-color);
}

code[class*="language-"],
pre[class*="language-"] {
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}
